body{
	background-image: url(img/1.jpg);
	background-size: 1250px;
}

.wrapper{
	display: inline-block;
	background-color: ;
	width: 100%;
	height:;
	color: white;
	margin:0 auto;
	position:fixed;
	bottom:26.5%;
}

.q{
	position: relative;
    margin-bottom: px;
    left:194px;
}

.w{
	position: relative;
    margin-bottom: -40px;
    right: 67px;
}

.e{
	position: relative;
    margin-bottom: px;
    left:-108px;
}

.r{
	position: relative;
    margin-bottom:-10px;
    left:53px;
}

.t{
	position: relative;
    margin-bottom:px;
    left:-230px;
}

.y{
	position: relative;
    margin-bottom:-14px;
    left:-352px;
}


.u{
	position: relative;
    margin-bottom:3px;
    left:-120px;
}

.i{
	position: relative;
    margin-bottom:3px;
    left:-302px;
}

.o{
	position: relative;
    margin-bottom:3px;
    left:-370px;
}

.p{
	position: relative;
    margin-bottom:20px;
    left:100px;
}